.footer
    margin-top: 40px
    padding: 50px 150px 60px 150px
    background: linear-gradient(180deg, rgba(10,10,12,0.8), rgba(0,0,0,0.9))
    width: 100%
    a
        color: var(--muted)
        text-decoration: none

.footer-inner
    display: flex
    justify-content: space-between
    align-items: flex-start
    gap: 30px

.footer-left
    max-width: 520px
    h4
        font-size: 36px
        font-weight: 600
        margin-bottom: 20px
    p
        color: $sub-text-color
        font-size: 20px



.footer-right
    text-align: right
    .email
        font-weight: 700
        font-size: 36px
        margin-bottom: 20px
        cursor: pointer
        .footer-red
            color: $red-base-color
            font-weight: 700
            font-size: 36px
        .footer-blue
            color: $blue-base-color
            font-weight: 700
            font-size: 36px
    .footer-link
        color: $sub-text-color
        font-size: 24px
        line-height: 1.5
        cursor: pointer
        font-weight: 600